.card--main-div{
  border:1px solid black;
  min-height: 30rem;
  min-width:95vw;
  max-width:95vw;
  margin-top:1rem;
  justify-self: center;
  align-self:center;

  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:5px;
}

.card--div{
  box-shadow: 1px 1px 3px 1px;
  max-height:18rem;
  display: flex;
  justify-content: center;
  align-items:center;
}

.card--div img{
  max-width:15rem;
  max-height:15rem;
  object-fit:contain;
}

.card--div:hover{
  cursor:pointer;
  box-shadow: 3px 3px 6px 6px;
}