.count--counter-div{
  min-height: 50px;
  font-size: 2rem;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.test{
  font-size: 12px;
  display: inline-flex;
}
.count--high-score{
  font-size: 1.5rem;
  margin-top:1rem;
}
.count--current-score{
  font-size: 1.5rem;
  margin-top:1rem;
}

@media screen and (max-width:510px){
  .count--high-score{
    font-size:1.1rem;
    margin-top:1rem;
  }
  .count--current-score{
    font-size: 1.1rem;
    margin-top:1rem;
  }
}

@media screen and (max-width:795px){
  .count--high-score{
    font-size:1.1rem;
    margin-top:1rem;
  }
  .count--current-score{
    font-size: 1rem;
    margin-top:1rem;
  }
}